* {
    box-sizing: border-box;
  }

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.container {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 400px;
}

.container h1 {
    display: block;
    width: 100%;
    text-align: center;
}

.drum-pad {
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #95a5a6;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 10px;
    height: 100px;
    width: 100px;
  }

  .drum-pad:hover {
      opacity: 0.95;
  }

  .drum-pad.active {
    transform: scale(0.95);
    opacity: 0.8;
  }